<!DOCTYPE html>
<html lang="ru">

@@include('includes/head.html') @@include('includes/header.html')

<body>

    <main>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm col-md-12 col-xl-3">1</div>
                <div class="col-sm col-md-12 col-xl-3">2</div>
                <div class="col-sm col-md-12 col-xl-3">3</div>
                <div class="col-sm col-md-12 col-xl-3">4</div>
            </div>
        </div>
    </main>

    <footer>
        @@include('includes/footer.html')

    </footer>

    <script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>

</html>